In [1]:
import pandas as pd
import json
import pymysql
import sqlalchemy
from sqlalchemy_utils import create_database, database_exists
pymysql.install_as_MySQLdb()

In [2]:
from sqlalchemy import create_engine

In [3]:
with open('/Users/Peach/Documents/Dojo-env/dojo-env-setup/Stack4/Week1/Books/enc.json', 'r') as f:
    esvar = json.load(f)

In [4]:
username = esvar['user']
password = esvar['password']
db_name = "booksdata"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [5]:
conc = {
    'user' : esvar['user'],
    'password' : esvar['password'],
    'database' : db_name
}

In [6]:
engine = create_engine(connection)

In [7]:
engine

Engine(mysql+pymysql://root:***@localhost/booksdata)

In [8]:
con = pymysql.connect(**conc)

In [9]:
## Check if database exists, if not, create it
if database_exists(connection) == False: 
  create_database(connection)
else: 
  print('The database already exists.')

The database already exists.

In [10]:
authors = pd.read_csv('/Users/Peach/Documents/Dojo-env/dojo-env-setup/Stack4/Week1/Books/authors.csv')
books = pd.read_csv('/Users/Peach/Documents/Dojo-env/dojo-env-setup/Stack4/Week1/Books/books.csv')
# data = pd.read_csv('/Users/Peach/Documents/Dojo-env/dojo-env-setup/Stack4/Week1/Books/data.csv')
favorites = pd.read_csv('/Users/Peach/Documents/Dojo-env/dojo-env-setup/Stack4/Week1/Books/favorites.csv')
user = pd.read_csv('/Users/Peach/Documents/Dojo-env/dojo-env-setup/Stack4/Week1/Books/user.csv')

![png](Stack4\Week1\Books\Capture.PNG.png)

In [15]:
authors.to_sql('authors', engine, if_exists = 'replace')

5

In [16]:
books.to_sql('books', engine, if_exists = 'replace')

6

In [17]:
favorites.to_sql('favorites', engine, if_exists = 'replace')

7

In [20]:
user.to_sql('users', engine, if_exists = 'replace')

3

In [22]:
q = """
show tables;
"""

pd.read_sql(q, engine)

  Tables_in_booksdata
0             authors
1               books
2           favorites
3                user
4               users

# Return user favorites

In [21]:
q = """
SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));
"""

pd.read_sql(q, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1