In [4]:
import pandas as pd
import json
import pymysql
import sqlalchemy
from sqlalchemy_utils import create_database, database_exists
pymysql.install_as_MySQLdb()

In [5]:
from sqlalchemy import create_engine

In [13]:
with open('/Users/Peach/Documents/Dojo-env/dojo-env-setup/Stack4/Week1/Books/enc.json', 'r') as f:
    esvar = json.load(f)

In [14]:
username = esvar['user']
password = esvar['password']
db_name = "bookdata"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [15]:
conc = {
    'user' : esvar['user'],
    'password' : esvar['password'],
    'database' : db_name
}

In [16]:
engine = create_engine(connection)

In [17]:
engine

Engine(mysql+pymysql://root:***@localhost/bookdata)

In [18]:
con = pymysql.connect(**conc)

rsr = con.cursor()

In [19]:
## Check if database exists, if not, create it
if database_exists(connection) == False: 
  create_database(connection)
else: 
  print('The database already exists.')

The database already exists.

In [20]:
authors = pd.read_csv('/Users/Peach/Documents/Dojo-env/dojo-env-setup/Stack4/Week1/Books/authors.csv')
books = pd.read_csv('/Users/Peach/Documents/Dojo-env/dojo-env-setup/Stack4/Week1/Books/books.csv')
# data = pd.read_csv('/Users/Peach/Documents/Dojo-env/dojo-env-setup/Stack4/Week1/Books/data.csv')
favorites = pd.read_csv('/Users/Peach/Documents/Dojo-env/dojo-env-setup/Stack4/Week1/Books/favorites.csv')
user = pd.read_csv('/Users/Peach/Documents/Dojo-env/dojo-env-setup/Stack4/Week1/Books/user.csv')

![png](Stack4\Week1\Books\Capture.PNG.png)

In [21]:
rsr.execute('USE bookdata')

0

In [22]:
rsr.execute("""CREATE TABLE IF NOT EXISTS users(
    id INT,
    first_name VARCHAR(45),
    last_name VARCHAR(45),
    email VARCHAR(45)
);""")

0

In [23]:
rsr.execute("""CREATE TABLE IF NOT EXISTS authors(
author_id INT,
author_name VARCHAR(45)
);""")

0

In [24]:
rsr.execute("""CREATE TABLE IF NOT EXISTS books(
id INT,
Title VARCHAR(45),
author_id INT
);""")

0

In [25]:
rsr.execute("""CREATE TABLE IF NOT EXISTS favorites(
user_id INT,
book_id INT
);""")

0

In [26]:
q = """
SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));
"""

pd.read_sql(q, engine)

               title  user_id
0        The Shining        1
1        The Shining        1
2                 It        1
3                 It        1
4   The Great Gatsby        1
5   The Great Gatsby        1
6        The Shining        1
7        The Shining        1
8                 It        1
9                 It        1
10  The Great Gatsby        1
11  The Great Gatsby        1
12       The Shining        1
13       The Shining        1
14                It        1
15                It        1
16  The Great Gatsby        1
17  The Great Gatsby        1